@page "/rides/edit"
@using Microsoft.EntityFrameworkCore
@using CarBookingProject_0.Domain
@inject IDbContextFactory<CarBookingProject_0.Data.CarBookingProject_0Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Ride</h2>
<hr />
@if (Ride is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Ride" OnValidSubmit="UpdateRide" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Ride.Id" value="@Ride.Id" />
                <div class="mb-3">
                    <label for="pickuptime" class="form-label">PickupTime:</label>
                    <InputDate id="pickuptime" @bind-Value="Ride.PickupTime" class="form-control" />
                    <ValidationMessage For="() => Ride.PickupTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dropofftime" class="form-label">DropoffTime:</label>
                    <InputDate id="dropofftime" @bind-Value="Ride.DropoffTime" class="form-control" />
                    <ValidationMessage For="() => Ride.DropoffTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="ridestatus" class="form-label">RideStatus:</label>
                    <InputText id="ridestatus" @bind-Value="Ride.RideStatus" class="form-control" />
                    <ValidationMessage For="() => Ride.RideStatus" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="ridecost" class="form-label">RideCost:</label>
                    <InputNumber id="ridecost" @bind-Value="Ride.RideCost" class="form-control" />
                    <ValidationMessage For="() => Ride.RideCost" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputNumber id="userid" @bind-Value="Ride.UserId" class="form-control" />
                    <ValidationMessage For="() => Ride.UserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="locationid" class="form-label">LocationId:</label>
                    <InputNumber id="locationid" @bind-Value="Ride.LocationId" class="form-control" />
                    <ValidationMessage For="() => Ride.LocationId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="promotionid" class="form-label">PromotionId:</label>
                    <InputNumber id="promotionid" @bind-Value="Ride.PromotionId" class="form-control" />
                    <ValidationMessage For="() => Ride.PromotionId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Ride.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Ride.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Ride.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Ride.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Ride.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Ride.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Ride.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Ride.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/rides">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Ride? Ride { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Ride ??= await context.Ride.FirstOrDefaultAsync(m => m.Id == Id);

        if (Ride is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateRide()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Ride!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!RideExists(Ride!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/rides");
    }

    private bool RideExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Ride.Any(e => e.Id == id);
    }
}
