@page "/roles"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CarBookingProject_0.Domain
@using CarBookingProject_0.Data
@implements IAsyncDisposable
@inject IDbContextFactory<CarBookingProject_0.Data.CarBookingProject_0Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="roles/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Role">
    <PropertyColumn Property="role => role.RoleType" />
    <PropertyColumn Property="role => role.UserId" />
    <PropertyColumn Property="role => role.DateCreated" />
    <PropertyColumn Property="role => role.DateUpdated" />
    <PropertyColumn Property="role => role.CreatedBy" />
    <PropertyColumn Property="role => role.UpdatedBy" />

    <TemplateColumn Context="role">
        <a href="@($"roles/edit?id={role.Id}")">Edit</a> |
        <a href="@($"roles/details?id={role.Id}")">Details</a> |
        <a href="@($"roles/delete?id={role.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private CarBookingProject_0Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
