@page "/vehicles"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CarBookingProject_0.Domain
@using CarBookingProject_0.Data
@implements IAsyncDisposable
@inject IDbContextFactory<CarBookingProject_0.Data.CarBookingProject_0Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="vehicles/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Vehicle">
    <PropertyColumn Property="vehicle => vehicle.LicensePlate" />
    <PropertyColumn Property="vehicle => vehicle.Model" />
    <PropertyColumn Property="vehicle => vehicle.Manufacturer" />
    <PropertyColumn Property="vehicle => vehicle.Year" />
    <PropertyColumn Property="vehicle => vehicle.Status" />
    <PropertyColumn Property="vehicle => vehicle.MaximumPassengers" />
    <PropertyColumn Property="vehicle => vehicle.UserId" />
    <PropertyColumn Property="vehicle => vehicle.DateCreated" />
    <PropertyColumn Property="vehicle => vehicle.DateUpdated" />
    <PropertyColumn Property="vehicle => vehicle.CreatedBy" />
    <PropertyColumn Property="vehicle => vehicle.UpdatedBy" />

    <TemplateColumn Context="vehicle">
        <a href="@($"vehicles/edit?id={vehicle.Id}")">Edit</a> |
        <a href="@($"vehicles/details?id={vehicle.Id}")">Details</a> |
        <a href="@($"vehicles/delete?id={vehicle.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private CarBookingProject_0Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
